In [1]:
import os

os.chdir('../../')
os.getcwd()

'/Users/brunogutierrez/workspace/tese'

In [42]:
# Standard libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import lines

from nltk.tokenize import sent_tokenize
# import seaborn as sns

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
raw_path = os.getcwd() + '/Olist/'
order_reviews = pd.read_csv(raw_path + 'olist_order_reviews_dataset.csv')

In [4]:
# Reading all the files
# raw_path = os.getcwd() + '/Olist/'
# customer = pd.read_csv(raw_path + 'olist_customers_dataset.csv')
# geolocation = pd.read_csv(raw_path + 'olist_geolocation_dataset.csv')
# orders = pd.read_csv(raw_path + 'olist_orders_dataset.csv')
# order_items = pd.read_csv(raw_path + 'olist_order_items_dataset.csv')
# order_payments = pd.read_csv(raw_path + 'olist_order_payments_dataset.csv')
# order_reviews = pd.read_csv(raw_path + 'olist_order_reviews_dataset.csv')
# products = pd.read_csv(raw_path + 'olist_products_dataset.csv')
# sellers = pd.read_csv(raw_path + 'olist_sellers_dataset.csv')

- Quantas reviews possuímos?
- Quantas frases por review?

In [5]:
order_reviews.sample()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
43707,12f2fd663de5670387805fd70ece2e21,77ef3216467887c78ddec18de86a58b9,5,NaN,NaN,2018-07-26 00:00:00,2018-07-29 17:02:57

In [12]:
order_reviews[['review_score']].describe()
# A maioria possui valor NA
order_reviews[['review_comment_title', 'review_comment_message']].isna().sum()

        review_score
count  100000.000000
mean        4.070890
std         1.359663
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000

review_comment_title      88285
review_comment_message    58247
dtype: int64

In [33]:
order_reviews[['review_comment_title', 'review_comment_message']].sample()

      review_comment_title                           review_comment_message
73281                  NaN  Recebi dentro do prazo, rápido e tudo certinho.

In [ ]:
# Contar letras e frases

In [36]:
def count_char(text):
    return len(text) if isinstance(text, str) else 0

In [38]:
order_reviews['n_char_title'] = order_reviews['review_comment_title'].apply(count_char)
order_reviews['n_char_text'] = order_reviews['review_comment_message'].apply(count_char)


order_reviews['n_char_title'].describe()
order_reviews['n_char_text'].describe()

count    100000.000000
mean          1.405100
std           4.426203
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          26.000000
Name: n_char_title, dtype: float64

count    100000.000000
mean         29.243230
std          49.455495
min           0.000000
25%           0.000000
50%           0.000000
75%          43.000000
max         208.000000
Name: n_char_text, dtype: float64

In [39]:
# contar frases

In [43]:
def count_phrases(text):
    if type(text) == str:
        return len(sent_tokenize(text, language='portuguese'))
    return 0

In [46]:
order_reviews['n_sentences'] = order_reviews['review_comment_message'].apply(count_phrases)
order_reviews[order_reviews['n_sentences']>0]['n_sentences'].describe()

count    41726.000000
mean         1.427959
std          0.791097
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         32.000000
Name: n_sentences, dtype: float64

Juntar Review e produtos

Temos o id do pedido. Ver quais produtos estão inseridos no pedido.