In [1]:
import os

os.chdir('../../Datasets')
os.getcwd()

'/Users/brunogutierrez/workspace/tese/Datasets'

In [42]:
# Standard libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import lines

from nltk.tokenize import sent_tokenize
# import seaborn as sns

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [48]:
raw_path = os.getcwd() + '/Olist/'
order_reviews = pd.read_csv(raw_path + 'olist_order_reviews_dataset.csv')
products = pd.read_csv(raw_path + 'olist_products_dataset.csv')

In [4]:
# Reading all the files
# raw_path = os.getcwd() + '/Olist/'
# customer = pd.read_csv(raw_path + 'olist_customers_dataset.csv')
# geolocation = pd.read_csv(raw_path + 'olist_geolocation_dataset.csv')
# orders = pd.read_csv(raw_path + 'olist_orders_dataset.csv')
# order_items = pd.read_csv(raw_path + 'olist_order_items_dataset.csv')
# order_payments = pd.read_csv(raw_path + 'olist_order_payments_dataset.csv')
# order_reviews = pd.read_csv(raw_path + 'olist_order_reviews_dataset.csv')
# products = pd.read_csv(raw_path + 'olist_products_dataset.csv')
# sellers = pd.read_csv(raw_path + 'olist_sellers_dataset.csv')

- Quantas reviews possuímos?
- Quantas frases por review?

In [5]:
order_reviews.sample()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
43707,12f2fd663de5670387805fd70ece2e21,77ef3216467887c78ddec18de86a58b9,5,NaN,NaN,2018-07-26 00:00:00,2018-07-29 17:02:57

In [12]:
order_reviews[['review_score']].describe()
# A maioria possui valor NA
order_reviews[['review_comment_title', 'review_comment_message']].isna().sum()

        review_score
count  100000.000000
mean        4.070890
std         1.359663
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000

review_comment_title      88285
review_comment_message    58247
dtype: int64

In [33]:
order_reviews[['review_comment_title', 'review_comment_message']].sample()

      review_comment_title                           review_comment_message
73281                  NaN  Recebi dentro do prazo, rápido e tudo certinho.

In [ ]:
# Contar letras e frases

In [36]:
def count_char(text):
    return len(text) if isinstance(text, str) else 0

In [38]:
order_reviews['n_char_title'] = order_reviews['review_comment_title'].apply(count_char)
order_reviews['n_char_text'] = order_reviews['review_comment_message'].apply(count_char)


order_reviews['n_char_title'].describe()
order_reviews['n_char_text'].describe()

count    100000.000000
mean          1.405100
std           4.426203
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          26.000000
Name: n_char_title, dtype: float64

count    100000.000000
mean         29.243230
std          49.455495
min           0.000000
25%           0.000000
50%           0.000000
75%          43.000000
max         208.000000
Name: n_char_text, dtype: float64

In [39]:
# contar frases

In [43]:
def count_phrases(text):
    if type(text) == str:
        return len(sent_tokenize(text, language='portuguese'))
    return 0

In [46]:
order_reviews['n_sentences'] = order_reviews['review_comment_message'].apply(count_phrases)
order_reviews[order_reviews['n_sentences']>0]['n_sentences'].describe()

count    41726.000000
mean         1.427959
std          0.791097
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         32.000000
Name: n_sentences, dtype: float64

Juntar Review e produtos

Temos o id do pedido. Ver quais produtos estão inseridos no pedido.

In [47]:
# Ver categorias dos produtos

In [49]:
products.sample(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
32899,02293621a345f7cddda16c5d9c7990e4,telefonia,57.0,447.0,4.0,217.0,17.0,4.0,12.0
1258,e5255f9b1ef223780f2e2d7d3e11fd22,esporte_lazer,60.0,1461.0,1.0,2850.0,16.0,15.0,15.0
7009,60c93709754c1b56d6fcc7187a4810f3,utilidades_domesticas,57.0,685.0,1.0,2700.0,30.0,30.0,30.0

In [52]:
products['product_category_name'].value_counts().head(15)

cama_mesa_banho                3029
esporte_lazer                  2867
moveis_decoracao               2657
beleza_saude                   2444
utilidades_domesticas          2335
automotivo                     1900
informatica_acessorios         1639
brinquedos                     1411
relogios_presentes             1329
telefonia                      1134
bebes                           919
perfumaria                      868
papelaria                       849
fashion_bolsas_e_acessorios     849
cool_stuff                      789
Name: product_category_name, dtype: int64

In [55]:
products['product_category_name'].unique()

array(['perfumaria', 'artes', 'esporte_lazer', 'bebes',
       'utilidades_domesticas', 'instrumentos_musicais', 'cool_stuff',
       'moveis_decoracao', 'eletrodomesticos', 'brinquedos',
       'cama_mesa_banho', 'construcao_ferramentas_seguranca',
       'informatica_acessorios', 'beleza_saude', 'malas_acessorios',
       'ferramentas_jardim', 'moveis_escritorio', 'automotivo',
       'eletronicos', 'fashion_calcados', 'telefonia', 'papelaria',
       'fashion_bolsas_e_acessorios', 'pcs', 'casa_construcao',
       'relogios_presentes', 'construcao_ferramentas_construcao',
       'pet_shop', 'eletroportateis', 'agro_industria_e_comercio', nan,
       'moveis_sala', 'sinalizacao_e_seguranca', 'climatizacao',
       'consoles_games', 'livros_interesse_geral',
       'construcao_ferramentas_ferramentas',
       'fashion_underwear_e_moda_praia', 'fashion_roupa_masculina',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'industria_comercio_e_negocios', 'telefonia_fixa',
       'construcao_ferramentas_iluminacao', 'livros_tecnicos',
       'eletrodomesticos_2', 'artigos_de_festas', 'bebidas',
       'market_place', 'la_cuisine', 'construcao_ferramentas_jardim',
       'fashion_roupa_feminina', 'casa_conforto', 'audio',
       'alimentos_bebidas', 'musica', 'alimentos',
       'tablets_impressao_imagem', 'livros_importados',
       'portateis_casa_forno_e_cafe', 'fashion_esporte',
       'artigos_de_natal', 'fashion_roupa_infanto_juvenil',
       'dvds_blu_ray', 'artes_e_artesanato', 'pc_gamer', 'moveis_quarto',
       'cine_foto', 'fraldas_higiene', 'flores', 'casa_conforto_2',
       'portateis_cozinha_e_preparadores_de_alimentos',
       'seguros_e_servicos', 'moveis_colchao_e_estofado',
       'cds_dvds_musicais'], dtype=object)